<body>
    <div class="movieContainer">
        <div class="movieDetail">
            <div class="image">
                <img [src]="imageDetails.image" alt="">
            </div>
            <div class="information">
                <div class="title">
                    <h2> Title </h2>
                    <p> {{imageDetails.title}} </p>
                </div>

                <div class="overview">
                    <h2> Overview </h2>
                    <p> {{imageDetails.overview}} </p>
                </div>

                <div class="releaseyear">
                    <h2> Release Date </h2>
                    <p> {{imageDetails.release_date}} </p>
                </div>
            </div>
        </div>
    </div>
</body>